* {
    font-family: monospace;
    font-size: large;
}

header {
    display: flex;
    justify-content: space-around;
    background-color: rgba(5, 5, 5);
    position: relative;
}

.nav {
    display: flex;
    gap: 50px;
}

header > ul {
    list-style: none;
}

header > h1 {
    color: aliceblue;
    font-size: 20px;
    font-weight: bold;
}

a {
    position: relative;
    text-decoration: none;
    color: gray;
}

a::after {
    content: ""; 
    position: absolute;
    bottom: -15px; 
    left: 0;
    width: 0; 
    height: 2px;
    background-color: orange; 
    /* transition: width 0.3s ease; */
}

a:hover::after {
    width: 100%; 
  }

a:hover {
    color: orange;
}

.section-1 {
    display: flex;
    padding: 70px;
    justify-content: center;
    gap: 100px;
    background-color: rgb(59, 54, 54);
}

.section-1 h2 {
    font-size: 50px;
    max-width: 500px;
    color: white;
    font-weight: bold;
}

.section-1 p {
    max-width: 500px;
    color: gray;
}

#sing-up {
    margin-top: 20px;
    background-color: orange;
    border: none;
    padding: 10px 50px;
    border-radius: 5px;
}

#sing-up:hover {
    background-color: white;
    color: orange;
}

.section-1 div:nth-child(2) {
    display: flex;
    justify-content: center;
    margin: auto 0;
    background-color: gray;
    text-align: center;
    width: 500px;
    height: 200px;
}

.section-1 div:nth-child(2) P {
    color: black;
    display: flex;          
    justify-content: center;
    align-items: center;
}

.random {
    display: flex;
    justify-content: center;
    background-color: rgba(5, 5, 5) ;
}

.random h2 {
    color: orange;
    font-size: 40px;
    padding-top: 50px;
    font-weight: bold;
}

.section-2 {
    display: flex;
    justify-content: center;
    padding: 200px;
    background-color: rgba(5, 5, 5);
}

.section-2 div {
    max-height: 550px;
}

.section-2 h2 {
    color: orange;
    text-align: center;
    font-size: 23px;
}

.section-2 img {
    width: 400px;
    height: 285px;
}

.section-2 p {
    color: gray;
    text-align: center;
    padding: 105.5px 0;
    max-width: 400px;
}

.section-2 div:nth-child(2) {
    display: flex;
    flex-direction: column-reverse;
}

.section-3 {
    background-image: url("../assets/bg-masthead.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-self: center;
  }

.phrase {
    height: 500px;
    width: 900px;
    background-color: rgba(5, 5, 5);
    border-radius: 10px;
    margin: auto;
    text-align: center;
}

.phrase p {
    color: gray;
    padding: 30px 40px;
    font-size: 22px;
}

.span {
    margin-top: 90px;
    text-align: end;
}

.phrase span {
    color: gray;
    padding: 30px 40px;
    font-size: 22px;
}

.span span {
    color: orange;
}

.section-4 {
    background-color: rgb(59, 54, 54);
    height: 70vh;
}

.section-4 {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.box {
    background-color: gray;
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0;
    padding: 40px;
    border-radius: 10px;
}

.contact h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 40px;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 20px;
}

input {
    border-radius: 10px;
    border: none;
}

#range {
    color: orange;
}

form label {
    color: white;
    display: flex;
    font-weight: bold;
}

.range-label {
    background-color: white;
    width: 30px;
    border-radius: 5px;
}

#send {
    background-color: orange;
    border: none;
}
